In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
# DataFrames

In [6]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [11]:
df

                   A         B         C         D
2013-01-01  1.086028 -0.567549 -0.094095  0.789528
2013-01-02 -0.097109  0.519580 -0.827945 -1.515662
2013-01-03  0.010490 -1.258236 -0.395366  0.597070
2013-01-04  0.166317 -0.010541 -1.912873 -0.199722
2013-01-05 -1.856047 -2.284682  0.551761 -1.982671
2013-01-06 -0.529933 -0.565463  0.725586 -1.157722

In [12]:
# DataFrame creation
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

In [13]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [16]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [ ]:
# View data

In [21]:
df.head()

                   A         B         C         D
2013-01-01  1.086028 -0.567549 -0.094095  0.789528
2013-01-02 -0.097109  0.519580 -0.827945 -1.515662
2013-01-03  0.010490 -1.258236 -0.395366  0.597070
2013-01-04  0.166317 -0.010541 -1.912873 -0.199722
2013-01-05 -1.856047 -2.284682  0.551761 -1.982671

In [23]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.166317 -0.010541 -1.912873 -0.199722
2013-01-05 -1.856047 -2.284682  0.551761 -1.982671
2013-01-06 -0.529933 -0.565463  0.725586 -1.157722

In [24]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')